# EDA
pandas-profiling

# 機械学習周り
xgboost
lightgbm

# bert
# transformers[ja,sentencepiece,torch]
transformers
fugashi
ipadic
pytorch-lightning
torchvision

# TensorFlow
tensorflow

# Black Formatter
black
